@charset "UTF-8";
/* ======＝＝＝
・・・共通部分
=======＝＝＝ */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height:auto;
}
/* ======＝＝＝
・・・汎用クラス
=======＝＝＝ */
.inner{
    width:95%;
    max-width:940px;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
}
.is-between {
    justify-content: space-between;
}
.is-align-center{
    align-items: center;
}
.double-img img {
    width: 400px; 
    height: 300px; 
    /* object-fit: cover; */
}

/* ======＝＝＝
・・・ヘッダークラス
=======＝＝＝ */
.header {
    padding: 1em;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    color: black;
}
.gnav {
    display: flex;
    margin-left: auto;
    font-weight: bold;
}
.gnav ul {
    display: flex;
}
.gnav li {
    font-size: 12px;
    font-weight: bold;
    margin-left: 50px;
}
.gnav ul a {
    color: black;
}
.image-container {
    position: relative;
}
.image-container img {
    width: 100%;
    height: 35vh;
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section1-list1 {
    font-size: 30px;
    font-weight: bold;
    padding: 70px 0 10px;
    text-align: center;
}
.section1-list2 {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 10px;
    text-align: center;
}

.picture {
    background-image: url('img/main-vsual-nontitle.png'); /* 画像の相対パスを指定 */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
.section2 h2{
    font-size: 20px;
    font-weight: bold;
    /* padding: 70px 0 10px; */
    margin: 50px 0;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.flex .image {
    width: 640px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.text {
    margin: 0 400px 0 20px;
    padding: 0;
}
.section3 h2 {
    font-size: 20px;
    font-weight: bold;
    /* padding: 70px 0 10px; */
    margin: 50px 0;
    text-align: center;
}
.section3_list {
    display: flex;
}
.footer h2{
    font-size: 20px;
    font-weight: bold;
    /* padding: 70px 0 10px; */
    margin: 50px 0;
    text-align: center;
}
/* ======＝＝＝
・・・section共通
=======＝＝＝ */
.section-wrap{
    margin: 70px 0 130px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
/* ======＝＝＝
・・・about
=======＝＝＝ */
.about-body{
    width: 480px;
}
/* ======＝＝＝
・・・lineup
=======＝＝＝ */
.lineup-body{
    display: flex;
    justify-content: space-between;
}
.lineup-list {
    max-width: 280px;
    background: #ccc;
    border-radius: 5px;
}
.lineup-list-title{
    font-size: 18px;
    margin: auto;
}
/* お問い合わせセクションのスタイル調整 */
.about-question {
    text-align: center;
}

.about-question form {
    display: inline-block; /* フォームをインラインブロックにする */
}

.about-question label, 
.about-question input {
    display: block; /* ラベルと入力フィールドをブロック要素にする */
    margin: auto; /* 自動マージンで中央寄せ */
}

.about-question input {
    margin-bottom: 20px; /* 入力フィールドの下に余白を追加 */
    width: 80%; /* 入力フィールドの幅を調整 */
}


.main-button a {
    display: inline-block;
    background-color: #ef9067; /
    color: #FFF; 
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    margin: 0 150px;

}

.main-button a:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

/* ======＝＝＝
・・・footer
=======＝＝＝ */
.footer {
    background-color: #fff;
    margin-bottom: 50px;
    border-top: 1px solid rgb(145, 142, 139);
}
.copy {
    text-align: right;
    margin-top: 15px;
    
}
